<div>
    <p>Are you sure you wish to <strong>discard</strong> this message?</br>
        It has not been sent.</br>
        <span style="color:#818587">(Draft support is coming soon!)</span>
    </p>
    <div class="ngdialog-buttons" style="align-items:center;">
        <div style="width:100%">
            <button type="button" class="rx-btn rx-btn-red" ng-click="confirm(1)">DISCARD</button>
            <button type="button" class="rx-btn rx-btn-primary" ng-click="closeThisDialog(0)" style="float:right">KEEP EDITING</button>
        </div>
    </div>
</div>
